{% extends "layout.html" %}
{% block title%} Register {% endblock %}

{% block content %}
<div class="container">
    <form>
        <div class="form-group">
            <label for="user_name">User name:</label>
            <input type="input" class="form-control" id="user_name">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
            <label for="pwd2">Password again:</label>
            <input type="password" class="form-control" id="pwd2">
        </div>
        <button type="submit" class="btn btn-primary btn-md">Register</button>
    </form>
</div>
{% endblock %}